<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level [%date] %logger: %msg%n%ex</pattern>
		</encoder>
	</appender>

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/simple-webserver.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/simple-webserver.log.%d{yyyy-MM-dd-HH}.gz
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%-5level [%date] %logger: %msg%n%ex</pattern>
		</encoder>
	</appender>

	<logger name="com.rtybase.simpleserver.impl.AbstractHandler"
		level="INFO" additivity="false">
		<!-- appender-ref ref="STDOUT" / -->
		<appender-ref ref="file" />
	</logger>

	<root level="DEBUG">
		<!-- appender-ref ref="STDOUT" / -->
		<appender-ref ref="file" />
	</root>
</configuration>